<!DOCTYPE html>
<html>
<head>
  <title>Battuta</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>




  <nav class="navbar navbar-inverse navbar-static-top example6">
    <div class="container">
      <div class="navbar-header">

        <a class="navbar-brand text-hide" href="/index">Battuta
        </a>

      </div>
      <div id="navbar6">
        <ul class="nav navbar-nav navbar-right">
          
			<li>
				<a <%= link_to("Home",{
				:controller => 'welcome',	
				:action => 'index',
				}) %></a>
			</li>     

			<li>
				<a <%= link_to("Map",{
				:controller => 'map',	
				:action => 'index',
				}) %></a>
			</li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
  </nav>



    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <%= yield %>
     
        </div>
    </header>





</body>
</html>
